:root {
    /* Color */
    --dark-color: #010f19;
    --logo-color: #C79A3B;
    /* Size */
    --padding: 12px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
}

.header {        
    position: relative;    
    background-color: var(--dark-color);    
    padding: var(--padding);
    
    top: 0;
    left: 0;
    z-index: 101;
    padding-top: 25px;
}

.header-inner {    
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    position: relative;    
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 840px;       
    height: auto;     
}

.logo {    
    font-weight: bold;
    font-size: 22px;
    display: inline-block;    
    margin-left: 0;
}

.main-link {
    display: flex;
    align-content: space-between;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--logo-color);    

    padding: 0;
    margin: 0;
}

.logo a span img{
    width: 38px;
    height: 40px;
    display: block;        
    overflow: hidden;
}


.search {
    display: block;
    flex-grow: 1;
    margin: 0 5%;
}

.search-form {
    display: flex;
    align-items: stretch;
}

.search-bar {
    border: 1px solid #785a28; 
    line-height: 1;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-input {
    flex-grow: 2;
    color: #fae6be;
    font-size: var(--font-medium);
    height: 36px;
    line-height: 36px;
    background: transparent;
    border: none;
    outline: none;
}